@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
}
#full_screen_back {
  background-color: #181C1E;
  display: none;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 800;
}

#lg_img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 600px;
  opacity: .15;
  padding: 50px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 800;
}

.notification {
  background-color: #181C1E;
  border: 2px dotted #666;
  color: #FFF;
  left: 45%;
  padding: 15px;
  position: absolute;
  text-transform: uppercase;
  top: 20px;
  z-index: 999;
}
div#track_album, div#track_name, div#track_artist {
  color: #FFF;
  display: inline-block;
  font-family: Arial;
  height: 1.2em;
  line-height: 1.2em;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
  width: auto;
  z-index: 999;
}
div#track_album {
  font-style: italic;
  text-shadow: #999 1px 1px 34px;
}

div#track_name {
  font-weight: bold;
  text-shadow: #181C1E 1px 1px 14px;
  text-transform: uppercase;
}

div#track_artist {
  color: #fe4d4d !important;
  display: block;
  font-weight: bold;
  height: auto;
  line-height: .85em;
  text-shadow: #999 2px 3px 15px;
  text-transform: uppercase;
  -webkit-animation-name: move-horiz;
  -webkit-animation-duration: 180s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  font-size: 140px;
  opacity: .9;
  padding: 0 0 10px 0;
}

@-webkit-keyframes move-diag {
  0% {
    left: -20%;
    top: 0px;
  }
  50% {
    left: 65%;
    top: 100px;
  }
  100% {
    left: 100%;
    top: 200px;
  }
}

@-webkit-keyframes move-horiz {
  0% {left: -10%;}
  50% {left: 50%;}
  100% {left: 100%;}
}

@-webkit-keyframes move-horiz2 {
  0% {left: -10%;}
  50% {left: 50%;}
  100% {left: 100%;}
}

@-webkit-keyframes move-vert {
  from {top: -400px;} to { top: 800px; }
}

@-webkit-keyframes move-vertSecond {
  from {top: -400px;} to { top: 800px; }
}

.vert_active2 {
  -webkit-animation-name: move-vertSecond;
  -webkit-animation-duration: 120s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  font-size: 180px;
  opacity: .8;
  padding: 20px 0;
  right: 0%;
}

.vert_active3 {
  -webkit-animation-name: move-vertSecond;
  -webkit-animation-duration: 120s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  font-size: 180px;
  opacity: .8;
  padding: 20px 0;
  left: 20%;
}

.vert_active {
  -webkit-animation-name: move-vert;
  -webkit-animation-duration: 200s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  font-size: 130px;
  padding: 10px 0;
  right: 20%;
}

.horiz_active2 {
  -webkit-animation-name: move-horiz;
  -webkit-animation-duration: 180s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  font-size: 140px;
  opacity: .9;
  padding: 30px 0 10px 0;
}

.horiz_active {
  -webkit-animation-name: move-horiz2;
  -webkit-animation-duration: 160s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  font-size: 150px;
  opacity: .9;
  padding: 30px 0 10px 0;
}

#player_container {
  position: relative;
  z-index: 999;
}